@charset "utf-8";
/* CSS Document */

/* Format for user images */
.users {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
    text-align: left;
}
.userImg {
	width: 100%;
}
.userLeft {
	width: 48%;
	float: left;
}
.userRight {
	width: 48%;
	margin-left: 52%;
}

/* Format for user names */
.nameSpace {
	height: 20px;
}
.name {
	font-family: GalanoGrotesqueAlt-SemiBold;
	letter-spacing: -0.5px;
}