@charset "utf-8";
/* CSS Document */

#logoCanvas, #logoFallback {
	display:block;
	width:400px;
	height:450px;
	position:absolute;
	top:0; left:0; right:0; bottom:100px;
	margin:auto;
}
#logoMobile {
	display:none;
}

#links {
	width:400px;
	height:20px;
	margin:-10px 0 0 -200px;
}

.linkCont {
	font-size:14px;
	margin-top:200px;
}
#about {
	margin-left:14px;
}
#blog {
	margin-left:57px;
}
#contact {
	margin-left:55px;
}
#games {
	margin-left:54px;
}