@charset "utf-8";
/* CSS Document */

/* Spacing between post square top and main image */
.graySpacer {
	height:18px;
	background-color:#ECECEC;
}

/* Spacing between post image and title */
.postTitle {
	margin-top:20px;
}

/* Margin in entries for author info */
.entryOutline {
	margin-left:25%;
}

/* Author info and date formatting */
.author {
	width:25%;
	float:left;
}
.authorInfo {
	width:100%;
	max-width:100px;
	float:right;
	text-align:left;
	background-color:#ECECEC;
}
.authorImg {
	display:block;
	width:85%;
	float:right;
}
.dateSpacer {
	height:10px;
}

/* Specific format for all blog post images and videos */
.entryImg {
	width:100%;
	max-width:100%;
}
.vidContainer {
	position:relative;
	width:100%;
	height:0;
	padding-bottom:56.25%;
}
.video {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

