author: "l"
date: "MAY 30, 2016"
title: "Test #1: Morph Prototype"

images: [
]
video: "https://player.vimeo.com/video/168667485?byline=0&portrait=0&title=0"

content: '''
Figuring out low poly. Very alpha-stage development. Walkable environment made in Unity.
'''