author: "l"
date: "JUL 6, 2016"
title: "Alien Landscapes"

images: [
    "../images/logs/finalforblog.png"
    "../images/logs/dfv.png"
]
video: ""

content: '''
Working the looks of the world. Blue suits it perfectly. Very very alpha stage renders. Absurd amounts of grain, as always.
'''