author: "j"
date: "OCT 19, 2016"
title: "Storm O.S."

images: [
    "../images/logs/stormOS.png"
]
video: ""

content: '''
Ludum Dare 36 is over, and our entry is finished!

In Storm O.S. you play as an android that has been mysteriously freed of its Master, and attempts to solve the mysteries of the ancient Storm Operating System. This short game is the product of 3 days of work.

Visit our [Ludum Dare entry page](http://ludumdare.com/compo/ludum-dare-36/?action=preview&uid=110077) to play the game! Available for both Windows and Mac.

Many thanks to [Massimo Pericolo](https://soundcloud.com/massimo-pericolo) for the incredible soundtrack.
'''