author: "j"
date: "MAR 20, 2017"
title: "Know Your Spell"

images: [
    "../images/logs/PrioriIncantatem.jpg"
]
video: ""

content: '''
On Saturday, February 25, about two weeks ago, we were part of WandWorks, a fantastic event in the Cotsen Children’s Library. We had accepted our first commission work months earlier, for which we were supposed to create a Harry Potter spell casting simulation game for kids. It was amazing to see so many positive reactions!

Dana Sheridan, the Education and Outreach Coordinator at Cotsen Children’s Library, and one of the main organizers of the event, wrote a blog entry featuring the game. We're very grateful to her for all the energy and passion she put into this event. [Please check out the blog post here!](https://popgoesthepage.princeton.edu/magicus-extremos/)

The game is free for download, though it might melt your computer. Sorry not sorry; ain’t nobody got time to optimize stuff. Check out the [games](../games) section of the website for the download link.
'''