author: "j"
date: "JUL 27, 2017"
title: "Ludum Dare 39"

images: [
]
video: "https://player.vimeo.com/video/261429870?byline=0&portrait=0&title=0"

content: '''
39, 39, 39. Yes, our blog has been quiet for well over 39 days at this point, but what better way to return than with ANOTHER Ludum Dare?

We're excited to announce that Kapricorn Media will participate in Ludum Dare 39! We'll be creating a short game from scratch over the course of 72 hours, starting tomorrow at 21:00 EST. The game's theme will be announced to all participants at that time. We'll probably live stream the development process, too.

Stay tuned!
'''