author: "j"
date: "AUG 1, 2017"
title: "Saito's Transgression"

images: [
    "../images/logs/saito.jpg"
]
video: ""

content: '''
Hands off the keyboard! Ludum Dare 39 is over.

We are proud to present our entry, Saito's Transgression. Set in a post-apocalyptic future where energy is a precious resource, a wizard struggles to find peace after an old enemy moves into his territory.

Visit our [Ludum Dare entry page](https://ldjam.com/events/ludum-dare/39/saitos-transgression) to play the game! Available for both Windows and Mac.

Many thanks to Massimo Pericolo for the amazing music. Be sure to check out his [Facebook](https://www.facebook.com/mprogicolo/) and [SoundCloud](https://soundcloud.com/massimo-pericolo) pages. Also a big shoutout to Elena Gil for the main character's animation.
'''