author: "j"
date: "AUG 24, 2017"
title: "1st Place Audiovisuals!"

images: [
    "../images/logs/saitoLogo.png"
]
video: ""

content: '''
The ratings for Ludum Dare 39 have closed. With at least 57 ratings in each category, Saito's Transgression has taken **1st place for both graphics and audio** in the Jam event!

We are very thankful to the other participants, to the people who rated the game and left us kind and helpful comments, and most importantly, to the Ludum Dare organizers for providing such a rich and accessible platform for crazy ideas and hidden talent.

Be sure to check out the game on [itch.io](https://kapricornmedia.itch.io/saitos-transgression), or on the original [Ludum Dare entry page.](https://ldjam.com/events/ludum-dare/39/saitos-transgression)
'''