author: "j"
date: "MAY 31, 2016"
title: "Two new features"

images: [
    "../images/logs/Coding Log 1.png"
]
video: ""

content: '''
**1. First-person "soul" controller.** Three creatures in the game support this. When clicked, the first-person perspective and control of the player transfers to the clicked entity. Each creature has a unique controller that reacts differently to player input.

**2. Crawling.** The ant creature is tiny and crawls through the low-poly landscape. It can even climb up trees! It uses an internal gravity vector that adjusts smoothly such that it points opposite to the ground’s surface normal. The surface is detected using a simple downward ray cast. Collision is handled through Unity’s built-in colliders. It’s a little buggy on very sharp edges, which are very common in low-poly models. It’s also tricky to detect when the ant is standing stably on a surface.
'''