author: "l"
date: "MAY 31, 2016"
title: "Ascended Being"

images: [
    "../images/logs/Headmaster v1.jpg"
]
video: ""

content: '''
The only character you're going to be able to have a conversation with in this game is a huge floating head.

**THE HEADMASTER** is a dark, timeless voice of the occult and the pilot of the main character's ship. More to come...
'''