title: "Know Your Spell: Harry Potter Kids' Event"

images: [
    "../images/logs/PrioriIncantatem.jpg"
]
video: ""

content: '''
A short interactive environment developed for the Wand Works event in the Cotsen Children's Library. Learn more about the context of the event through [this lovely blog post!](https://popgoesthepage.princeton.edu/magicus-extremos/)

As the player, you can cast six different spells from the Harry Potter universe, each with its own unique set of visual effects. This interactive environment runs much like a slideshow, requiring just the use of the mouse and the spacebar key. This is a consequence of its specific design for the Wand Works children's event.

Hogwarts Great Hall 3D model by Jeremy Goncalves (on [SketchFab](https://sketchfab.com/models/bde62298ac8640588d5a2928b8e113dc)).

[Download the game for free on itch.io](https://kapricornmedia.itch.io/wand-works-spell-simulator).
'''