title: "Project Morph"

images: [
    "../images/headmasters.png"
]
video: ""

content: '''
A 3D low-poly game based mainly on perception, but with elements of open-world exploration and survival.

Project Morph is still in early stages of development. Check our early [blog entries](../blog) for more information.
'''