title: "Saito's Transgression"

images: [
    "../images/logs/saito.jpg"
]
video: ""

content: '''
Set in a post-apocalyptic future where energy is a precious resource, a wizard struggles to find peace after an old enemy moves into his territory.

A short game developed in 72 hours for the Ludum Dare 39 Jam, and proud winner of 1st place for graphics and audio!

Available for free on [itch.io](https://kapricornmedia.itch.io/saitos-transgression) or the original [Ludum Dare entry page](https://ldjam.com/events/ludum-dare/39/saitos-transgression) for Windows, Mac, and Linux.
'''