title: "Storm O.S."

images: [
    "../images/logs/stormOS.png"
]
video: ""

content: '''
A short game developed for Ludum Dare 36.

In Storm O.S. you play as an android that has been mysteriously freed of its Master, and attempts to solve the mysteries of the ancient Storm Operating System. This short game is the product of 3 days of work.

Available for free on [itch.io](https://kapricornmedia.itch.io/storm-os) or the original [Ludum Dare entry page](http://ludumdare.com/compo/ludum-dare-36/?uid=110077) for Windows and Mac.
'''